/**
   |============================
   | Base styles
   |============================
 */

:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f4266;
  --hero-background: #2e2f42b2;
  --white: #ffffff;
  --modal-background: #fcfcfc;
}

/* other */
body {
  font-family: Roboto, sans-serif;
  background: var(--white);
  color: var(--text);
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--dark);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* reset end */
.link:hover,
.link:focus {
  color: var(--ocean);
}
.section-title {
  text-align: center;
  font-size: 36px;
  margin: 0 auto;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* CARD SET */

.card-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: var(--indent);
  justify-content: center;
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* PHONE */
.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}
/* TABLET */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* DESCKTOP */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1188px;
    padding: 0 15px;
  }
}
/* SOCIAL MEDIA ICONS */

.icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.icons-list-item {
  width: 40px;
  height: 40px;
}
.icons-list-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-list-link:hover,
.icons-list-link:focus {
  background-color: var(--pressed-state);
}
.icons-svg {
  fill: var(--light);
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media only screen and (max-width: 767.98px) {
  .header {
    padding-bottom: 24px;
    padding-top: 24px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.studio {
  color: var(--dark);
}
/* TABLET */
@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 40px;
    margin-left: 120px;
  }
}
/* DESKTOP */
@media only screen and (min-width: 1158px) {
  .nav-list {
    margin-left: 76px;
  }
}
/* PHONE */
@media only screen and (max-width: 767.98px) {
  .nav-list {
    display: none;
  }
}
.list-item {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--navyblue);
}

.list-item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
.list-item.current::after {
  background-color: var(--pressed-state);
  color: var(--pressed-state);
  bottom: -1px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  font-style: normal;
}

/* TABLET */
@media only screen and (max-width: 767.98px) {
  .address-list {
    display: none;
  }
  .mailto {
    padding-bottom: 12px;
  }
}
/* DESKTOP */
@media only screen and (min-width: 1158px) {
  .address-list {
    display: flex;
    gap: 40px;
  }
}
.address-list-item {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
}

/**
   |============================
   | Hero styles
   |============================
 */
/* MOBILE */
.hero-section {
  padding: 112px 0;
  margin: 0 auto;

  background-color: var(--dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg_mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/Dark-bg_mob@1x.jpg);
  }
}
.hero-title {
  color: var(--white);
  max-width: 320px;
  text-align: center;
  margin-bottom: 72px;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
/* TABLET */
@media only screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/Dark-bgtab_@1x.jpg);
    max-width: 768px;
  }
  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/Dark-bgtab_@2x.jpg);
    }
  }
}

/* DESKTOP */
@media only screen and (min-width: 1158px) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office1des_@1x.jpg);
    max-width: 1440px;
    padding: 188px 0;
  }
  .hero-title {
    margin-bottom: 48px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-office1des_@2x.jpg);
    }
  }
}
.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero-button {
  min-width: 169px;
  height: 56px;
  background: var(--primary-brand);
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  display: block;
  margin: auto;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background: var(--pressed-state);
}
/**
   |============================
   | Advantages styles
   |============================
 */

/* MOBILE */
.advantages-section {
  padding: 96px 0;
}
.advantages-list-wrapper {
  display: none;
}

.advantages-item-title {
  color: var(--dark);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.advantages-text {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
@media only screen and (max-width: 767.98px) {
  .advantages-item:not(:last-child) {
    margin-bottom: 72px;
  }
}
/* TABLET */
@media only screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .advantages-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

/* DESKTOP */
@media only screen and (min-width: 1158px) {
  .advantages-section {
    padding: 120px 0;
  }
  .advantages-container {
    width: 1158px;
  }

  .advantages-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }
  .advantages-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .advantages-list-wrapper {
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--light);
  }
  .advantages-text {
    letter-spacing: 0.02em;
  }
}
/**
  |============================
  | Make styles
  |============================
*/
/* DESKTOP */
@media only screen and (max-width: 1158px) {
  .make-section {
    display: none;
  }
}
.make-section {
  padding-bottom: 120px;
}
.make-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}
.make-list {
  --indent: 24px;
  --item: 3;
}

/**
  |============================
  | Team styles
  |============================
*/
/* MOBILE */
.team-section {
  background: var(--cloud);
  padding: 96px 0;
}
.team-card-list {
  --indent: 24px;
  --item: 4;
  row-gap: 72px;
}
/* DESKTOP */
@media only screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
}

.team-item {
  background: var(--white);
  color: var(--dark);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  .team-card-list {
    row-gap: 64px;
  }
}

.team-wrapper {
  padding: 32px 0;
}
.team-name {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--navyblue);
  margin-bottom: 8px;
}
.team-text {
  color: var(--slate);
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 8px;
}

/**
  |============================
  | Customers
  |============================
*/
/* MOBILE */
.customers-section {
  padding: 96px 0;
  background-color: var(--white);
}
.customers-list-item {
  height: 88px;
  width: 190px;
}
.customers-list-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  fill: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list-link:hover,
.customers-list-link:focus {
  border-color: var(--pressed-state);
  color: var(--pressed-state);
  fill: var(--pressed-state);
}
.customers-list {
  --indent: 16px;
  --item: 6;
  row-gap: 72px;
}
/* TABLET */
@media only screen and (min-width: 768px) {
  .customers-list-item {
    width: 168px;
  }
  .customers-list {
    --indent: 24px;
    --item: 6;
  }
}
/* DESKTOP */
@media only screen and (min-width: 1158px) {
  .team-section {
    padding: 120px 0;
  }
}
/**
  |============================
  | Footer styles
  |============================
*/
/* PHONE */

.footer-section {
  background: var(--dark);
  padding-top: 100px;
  padding-bottom: 100px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  display: inline-block;
  margin-bottom: 16px;
}
.studio-footer {
  color: var(--light);
}
.footer-text {
  color: var(--light);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  width: 264px;
}
.social-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.social-media-list {
  display: flex;
  gap: 16px;
}
.icon-list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.social-media-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}
.social-media-list-item {
  fill: var(--light);
}
.form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form-input {
  width: 100%;
  height: 40px;
  color: var(--white);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: transparent;
  border-radius: 4px;
  opacity: 0.3;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 0 8px 16px;
  outline: transparent;
  background-color: transparent;
  border: 1px solid var(--subtle-text);
}

.btn-subscribe {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: var(--primary-brand);
  color: var(--white);
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 165px;
  cursor: pointer;
  margin: 0 auto;
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: var(--pressed-state);
}
.icon-paper-plane {
  fill: var(--white);
  margin-left: 16px;
}
.footer-form-input::placeholder {
  color: var(--white);
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

@media only screen and (max-width: 767.98px) {
  .footer-form-input,
  .footer-form-box,
  .foter-form-labe,
  .footer-form {
    width: 100%;
  }
  .logo-footer,
  .social-media-title,
  .form-title {
    display: block;
    text-align: center;
  }
  .btn-subscribe {
    margin-top: 16px;
  }
}

/* TABLET */
@media only screen and (min-width: 768px) {
  .footer-container {
    max-width: 584px;
    justify-content: flex-start;
    gap: 72px 24px;
  }
  .footer-form-input {
    width: 264px;
  }
  .footer-form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1158px) {
  .footer-container {
    max-width: 1158px;
    gap: 0;
  }
  .logo-container {
    margin-right: 120px;
  }
  .footer-form-box {
    margin-left: auto;
  }
}

/**
  |============================
  | Mobile menu
  |============================
*/
.menu-toggle {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
.menu-toggle-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-toggle-close:hover,
.menu-toggle-close:focus {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--white);
}

.mobile-menu-icon {
  stroke: var(--dark);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100%;
  padding: 40px;
  padding-left: 35px;
  padding-top: 80px;
  background: var(--white);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  color: var(--dark);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* For mobile && tablet screen */
.mobile-menu-link:active {
  color: var(--pressed-state);
}

@media (hover: hover) {
  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--pressed-state);
  }
}

.mobile-tel {
  color: var(--primary-brand);

  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.mobile-mail {
  color: var(--text);
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.mobile-address-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.icons-list {
  padding-top: 40px;
}

/**
  |============================
  | Modal window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  backdrop-filter: blur(1px);
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-left: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--ocean);
  border: none;
  fill: var(--white);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-label {
  color: #8e8f99;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.17;
  display: block;
  margin-bottom: 4px;
}
.modal-form-item {
  margin-bottom: 8px;
}
.modal-form-filed {
  position: relative;
}
.modal-form-input {
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  height: 40px;
  border-radius: 4px;
  width: 100%;
  padding: 8px 16px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  padding-left: 38px;
}
.modal-form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-input:focus + .icon-form {
  fill: #4d5ae5;
}
.icon-form {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal-form-comment {
  margin-bottom: 16px;
}
.modal-form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-textarea:focus {
  border-color: #4d5ae5;
}
.modal-form-textarea::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
}

.modal-form-agrement {
  margin-bottom: 24px;
}

.modal-form-desc {
  color: var(--lightslate, #8e8f99);

  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
}
.privacy {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-text {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

input:checked + label > span {
  background-color: var(--ocean);
  border: none;
  fill: #f4f4fd;
}

.privacy-policy {
  color: var(--iris, #4d5ae5);
}
.btn-form {
  display: block;
  min-width: 169px;
  height: 56px;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
@media only screen and (max-width: 428px) {
  .backdrop .modal {
    width: 310px;
  }
}
