/**
   |============================
   | Base styles
   |============================
 */

:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f4266;
  --hero-background: #2e2f42b2;
  --white: #ffffff;
  --modal-background: #fcfcfc;
}

/* other */
body {
  font-family: Roboto, sans-serif;
  background: var(--white);
  color: var(--text);
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--dark);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* reset end */
.link:hover,
.link:focus {
  color: var(--ocean);
}
.section-title {
  text-align: center;
  font-size: 36px;
  margin: 0 auto;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--dark);
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* PHONE */
.container {
  min-width: 320px;
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
/* TABLET */
@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
/* DESCKTOP */
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
/* SOCIAL MEDIA ICONS */

.icons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.icons-list-item {
  width: 40px;
  height: 40px;
}
.icons-list-link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-list-link:hover,
.icons-list-link:focus {
  background-color: var(--pressed-state);
}
.icons-svg {
  fill: var(--light);
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media only screen and (max-width: 767.98px) {
  .header {
    padding-bottom: 24px;
    padding-top: 24px;
  }
}

.header-container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.studio {
  color: var(--dark);
}
/* TABLET */
@media only screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    gap: 40px;
    margin-left: 120px;
  }
}
/* DESKTOP */
@media only screen and (min-width: 1158px) {
  .nav-list {
    margin-left: 76px;
  }
}
/* PHONE */
@media only screen and (max-width: 767.98px) {
  .nav-list {
    display: none;
  }
}
.list-item {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--navyblue);
}

.list-item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}
.list-item.current::after {
  background-color: var(--pressed-state);
  color: var(--pressed-state);
  bottom: -1px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address {
  font-style: normal;
}

/* TABLET */
@media only screen and (max-width: 767.98px) {
  .address-list {
    display: none;
  }
  .mailto {
    padding-bottom: 12px;
  }
}
/* DESKTOP */
@media only screen and (min-width: 1158px) {
  .address-list {
    display: flex;
    gap: 40px;
  }
}
.address-list-item {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
}

/**
  |============================
  | Mobile menu
  |============================
*/
.menu-toggle {
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
.menu-toggle-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-toggle-close:hover,
.menu-toggle-close:focus {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--white);
}

.mobile-menu-icon {
  stroke: var(--dark);
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100%;
  padding: 40px;
  padding-left: 35px;
  padding-top: 80px;
  background: var(--white);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  color: var(--dark);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

/* For mobile && tablet screen */
.mobile-menu-link:active {
  color: var(--pressed-state);
}

@media (hover: hover) {
  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--pressed-state);
  }
}

.mobile-tel {
  color: var(--primary-brand);

  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.mobile-mail {
  color: var(--text);
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: 0.4px;
}
.mobile-address-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.icons-list {
  padding-top: 40px;
}
